@font-face {
  src: url(../fonts/ITCEDSCR.ttf);
  font-family:"Edwardian Script ITC";
}
.slider ul{
padding: 0;
list-style: none;
display: flex;
width: max-content;
animation: runSlider 90s linear infinite;


}




.slider img{
  height: 160px;
  margin-right: 20px;

}
.slider li{
 width: 150px;
 display: flex;
 justify-content: start;
 align-items: center;
 width: 15px;
 padding: 10px 59px 20px;
 margin-right:1px;
}
.slider{
  overflow: hidden;
  margin:0;

}
@keyframes runSlider{
    from {
      transform:translateX(0);
    }to{
      transform: translateX(calc(-180px*20));
    }
}

.card{
  margin-bottom: 45%;
  border-width: 3px;
  border-style:outset;
  border-radius: 1px;

  
}
.card-title{
  color: #202020;
  font-weight: bold;
}






.hatter{
  background-color:rgba(0, 0, 0, 0.5);
margin: 4% 25% 30%;
 padding: 2% 3% 2%;
 width: 49%;
}
.cukorv{
  font-family:"Edwardian Script ITC";
  color: #FFB800;
  font-size: 10rem;
  padding: 0% 4% 0%;
  margin-top: 10%;
  text-shadow: 10% 10% 20% black;


}
#kozepre{

  margin-left: 16%;
}
#alcim2{
  font-family:"Edwardian Script ITC";
  margin-left: 21%;
  font-size: 380%;
  color: wheat;
    opacity: 100%;
}
a:link { 
  text-decoration:none;
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration:none;
}
/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3f423f;}
.lenkehr{
  color: white;
  height: 60px;
 
}
h4{
  color: white;
}
#Lenkekep{
  padding: 5px 10px 5px;
  margin-top: 150px;
  margin-bottom: 100px;
}
#bemutato{
  color: #f1f1f1;
  line-height: 400%;
}


.row{
  text-align: center;
}
#nincs{
  color: black;
  height: 50px;
}
h1{
  color: white;
}
body{
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  background-color: black;

}
header, nav, footer
{
    background-color: #202020;


}
.header{

height: 300px;

}


.kezdolapcim
{
    text-align: center;
    padding-left: 300px;
    margin: auto;
}
.igazitottcimek
{
    text-align: center;
    padding-left: 30px;
    margin: auto;
}
.felulet
{
    text-align: center;
    padding-left: 300px;
    margin: auto;
}
.ikon
{
    text-indent: 100px;
    font-size:40px;
    margin: auto;
    padding-left: 6px;
    color: #FFB800;
  font-family: "Edwardian Script ITC";
      
}
.szin
{
  color: #FFB800;
}

.alcim
{
    padding-left: 60px;
    color: white;
}
.footermagassag
{
  height: 70px;
}
.copyright
{
  width: 800px;
  font-size: small;
  color: white;
 
}
.ikonok
{
  padding-left: 15px;
}
.navbar-brand
{
  font-family: "Edwardian Script ITC";
}
.navbar{
 padding: 3px 25px 5px;
}

h1 {
  margin: 0 10 0 0;
  text-align: center;
}
#name, #password
{
  margin-left: 15px;
}
#name2
{
  margin-left: 180px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: 30px;
  margin: 0;
  outline: 0;
  padding: 10px;
  padding-left: 10px;
  width: 45%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: black;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid white;
  border-width: 1px 1px 1px;
  
}

fieldset {
  margin-bottom: 15px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
  
}

label.light {
  font-weight: 300;
  display: inline;
}


@media screen and (min-width: 480px) {

  form {
    max-width: 700px;
  }

}
.nkozep, .ekozep, .lkozep
{
padding-left: 100px;
}
.nkozep2
{
padding-left: 235px;
}
.nkozep3
{
padding-left: 295px;
}
.ikozep
{
  padding-left: 80px;
}
.cimtartalom
{
  margin-top: 10px;
}
.cimtartalom2
{
  margin-top: 60px;
}
.tartalom2
{
  margin-top: 70px;
  margin-bottom: 80px;
}
.fdg
{
  padding-left: 100px;
}
.nigazit
{
  padding-left: 200px;
}
.nigazit2
{
  padding-left: 270px;
}
.nigazit3
{
  padding-left: 230px;
}
.BejelentkezesForm
{
  height: 560px;
}
.bej
  {
    background-image: url(../img/hatter3.png);
    background-size: 95%;
    background-position: center;
  }
  #regist{
    
  height: 800px;
  width: 870px;
  margin: 200px auto;
  padding: 10px 20px;
  background: black;
  border-radius: 8px;
  outline: auto white;

  }
  #login{
    height: 600px;
    width: 870px;
    margin: 200px auto;
    padding: 10px 20px 20px;
    background: black;
    border-radius: 8px;
    outline: auto white;
  }
  #kapcsolat
  {
    
    margin-right: 20px;
    height: 450px;
    width: 425px;
    
  }
  #kapcsolat2
  {
    
    float: right;
    margin-right: 200px;
    background-color: grey;
    color: black;
    
  }
  #kapcsolat3
  {
    padding-left: 300px;
    width: 33%;
    margin-left: 200px;
  }
  #kapcsolat4
  {
    float: right;
    margin-right: 200px;
    height: 350px;
    background-color: grey;
    color: black;
  }
  #kapcsolat5
  {
    
    float: right;
    margin-right: 400px;
    height: 100px;
    width: 400px;
    background-color: black;
    color: white;
    
  }
  .kapcsolat
  {
    padding-left: 1170px;
    
  }

  .kapcsolat2
  {
    padding-left: 400px;
    
  }