
<div class="header mt-5 bg-dark-transparent">
	<div class="row mt-5">
	  <h1 class="text-center my-3 ">Bolt</h1>
	</div>
</div>

<div class="container mt-5">
	
	<ul class="nav nav-pills justify-content-center mb-3" 
			id="pills-tab" 
			role="tablist">

		<li class="nav-item mx-2" 
				role="presentation"
				ng-repeat="x in types track by $index">
			<button class="btn btn-lg btn-outline-primary mb-3"
							ng-class="{'active': $index===0}"
							type="button" 
							id="{{x.type}}-tab" 
							data-bs-toggle="tab" 
							data-bs-target="#{{x.type}}" 
							type="button" 
							role="tab" 
							aria-controls="{{x.type}}" 
							aria-selected="{{$index===0 ? 'true' : 'false'}}">
				{{x.typeName}}
			</button>
		</li>
	</ul>

	<div class="tab-content text-white mt-5" 
			 id="pills-tabContent"
			 ng-repeat="x in types track by $index">
		<div class="tab-pane fade"
		     ng-class="{'show active': $index===0}"
				 id="{{x.type}}" 
				 role="tabpanel" 
				 aria-labelledby="{{x.type}}-tab">
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3">
				<div class="col"
						 ng-repeat="item in data track by $index"
						 ng-if="item.type===x.type">
					<div class="card">
						<img  ng-src="img/{{item.type}}/{{item.img}}" 
									class="card-img-top" 
									alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">{{item.name}}</h5>
							<p class="text-center">{{item.price | numSep}}Ft</p>
							<div class="text-end">
							<button class="btn btn-outline-primary"
								 			ng-click="setModal(item)"
								 			data-bs-toggle="modal" 
								 			data-bs-target="#buyModal">
								Kosár
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Slider-->
<div class="slider">
	<ul>
	  <li ng-repeat="x in [].constructor(22) track by $index">
		<img ng-src="./img/Cukorviragdisz/disz{{$index+1}}.jpeg" alt="">
	  </li>
	  <li ng-repeat="x in [].constructor(36) track by $index">
		<img ng-src="./img/Eskuvocukor/cukor{{$index}}.jpeg" alt="">
	  </li>
	</ul>
</div>

<!-- Modal -->
<div class="modal modal-lg fade mt-5"
		 data-bs-backdrop="static" 
		 data-bs-keyboard="false" 
		 aria-labelledby="staticBackdropLabel" 
		 aria-hidden="true"
		 id="buyModal" 
		 tabindex="-1">
	<div class="modal-dialog">
	  <div class="modal-content">
			<div class="modal-body">
			  <div class="card">
					<div class="row">
						<div class="col-6">
							<img ng-src="img/{{item.type}}/{{item.img}}" 
									 class="img-fluid" 
									 alt="...">
						</div>
						<div class="col-6">
							<div class="card-body">
								<h3 class="card-title text-center">{{item.name}}</h3>
								<form name="formQuantity" class="mt-5">
									<div class="mb-3">
										<p class="form-label text-muted">Egységár:</p>
										<p class="form-control">{{item.price | numSep}}Ft</p> 
									</div>
									<div class="mb-3">
										<label for="quantity" class="form-label">Mennyiség:</label>
										<input type="number" class="form-control" id="quantity"
													 min="1" max="100"
													 style="max-width: 150px;"
													 ng-model="model.quantity"
													 ng-change="sumTotal()"
													 required>
									</div>
									<div class="mb-3">
										<p class="form-label text-muted">Összesen:</p>
										<p class="form-control">{{model.total | numSep}}Ft</p> 
									</div>
									<div class="row mt-5 justify-content-end">
										<button type="button" 
														class="btn btn-primary w-auto d-inline-block mx-2 mb-3"
														ng-disabled="formQuantity.$invalid"
														ng-click="itemToCart()"
														data-bs-dismiss="modal">
											Kosár
										</button>
										<button type="button" 
														class="btn btn-secondary w-auto d-inline-block mx-2 mb-3"
														data-bs-dismiss="modal">
											Mégsem
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>