
<div class="header mt-5 bg-dark-transparent">
	<div class="row mt-5">
	  <h1 class="text-center my-3 ">Bolt</h1>
	</div>
</div>

<div class="container-fluid containerszelesseg mt-5">
	<div class="row row-cols-1 g-4">
					<div class="col-md-2">
						<div class="wrapper">
							<div class="input-group">
								<input type="text" id="searchInput" placeholder="Keresés...">	
							</div>
								<div class="container">
									<ul id="list">
										<div class="accordion accordion-flush" id="accordionFlushExample">
											<li> 
									<div class="accordion-item">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
												Figurák
											</button>
										</h2>
											<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
												
											</div>
									</div>
									</li> 
									<li> 
									<div class="accordion-item">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
												Cukordíszek
											</button>
										</h2>
											<div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
												<div class="accordion-body">
													Rózsák <br>
													Egyéb
														<!--<code>
																kokárdavirag
																hovirag
																liliom
																orchidea(cymbidium)
																tulipan
																mikulás virag
																gyongyvirag
																angol rozsa
																begónia
																levendula
																rozsa
																napraforgó
																tulipan almaviraggal
																bebonia
																orgona
																rozsa hortenziaval
																tulipan pipaccsal
																krizantén
																tropusi csokor-->
															<code>
															</code> 
												</div>
											</div>
									</div>
									</li> 
									<li> 
									<div class="accordion-item">
										<h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
												Esküvői díszek
											</button>
										</h2>
											<div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
												
											<code>    
												
													<ul>
													<!--	
													<li>rózsa hortenzival</li>
													<li>rózsa</li>
													<li> bazsarozsa</li>
													<li>bazsarozsa hortenziaval</li>
													<li>sárga rózsa</li>
													<li> bazsarozsa es pillango orchidea</li>
													<li>  rozsa és frézia</li>
													<li> rozsa és almavirag</li>
													<li>  bazsarozsa rozsa frézia </li>
													<li>rozsa és almavirag</li>
													</ul>
													
												
												<ul>
													<li>pillango orchidea piros szimbidium orchidea</li>
													<li>  piros pillango orchidea</li>
													<li>  feher pillango orchidea</li>
													<li>   bazsarozsa es pillango orchidea</li>
												</ul>           
												
													<ul>
													
													<li> Hortenzia</li>
													<li>liliom</li>
													<li> anemona</li>
													<li>frézia</li>
													<li>liziantusz</li>
													<li>vegyes csokor</li>
													<li> fantasia virag </li>
													<li>vegyes csokor(lilium hortenzia rozsa stb)</li>
													<li>frézia és pillango virag</li>
												
													<li>  mini tulipan</li>
													<li>kék hortenzia</li>

													-->
													</ul>
												</code> 
												</div>
											</div>
												</div>
											</li> 
										<li> 
											<div class="accordion-item">
												<h2 class="accordion-header">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
														Nászpárok
													</button>
												</h2>
												<div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
													
												</div>
											</div>
										</li> 
										<li> 
											<div class="accordion-item">
												<h2 class="accordion-header">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
														Torták
													</button>
												</h2>
												<div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
												
												</div>
											</div>
										</li> 
										<li> 
											<div class="accordion-item">
												<h2 class="accordion-header">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
														Sütemények
													</button>
												</h2>
												<div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
													<div class="accordion-body"> 
														Mézeskalács <br>
														Muffin <br>
														Egyéb
														<code>
														</code> 
													</div>
												</div>
											</div>
										</li> 
									</div>
								</ul>
							</div>
						</div>  				
					</div>

						<div class="col-md-2">
							<div class="card">
								<a ui-sref="termek">
									<img ng-src="img/Cukorviragdisz/disz7.jpeg" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title">Orchidea cymbidium</h5>
												<p>3000 ft</p> <p>Kosár</p>
										</div>
								</a>
							</div>
						</div>
						<div class="col-md-2">
							<div class="card"  >
							<a href="termek.html">
								<img ng-src="img/Eskuvocukor/cukor14.jpeg" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Pillangó Orchidea</h5>
									<p>3000 ft </p> <p >Kosár</p>
								</div>
							</a>
							</div>
							</div>
					
						<div class="col-md-2">               
							<div class="card"  >
								<a href="termek.html" >
									<img ng-src="img/Figurak/miki_eger_csomag.jpeg" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title">Miki egér és barátai </h5>
								
												<p>2000 ft</p> <p>Kosár</p>
								
										</div>
								</a>
							</div>
						
						</div>
					<div class="col-md-2">
						
						
						<div class="card"  >
							<a href="termek.html" >
							<img ng-src="img/Figurak/dog.jpeg" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Dobbermann</h5>
										<p>2400 ft</p>
										<p>Kosár</p>
							
								</div>
							</a>
						</div>   
					</div>    
				
						<hr>
						<div class="row row-cols-1 g-4">

						<div class="col-md-2">

						</div>
						
							<div class="col-md-2">
						
								<div class="card"  >
								<a href="termek.html">
								
									<img ng-src="img/Cukorviragdisz/disz.jpeg" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Pipacs</h5>
											<p>2500 ft</p>
											<p>Kosár</p>
										
										
									</div>
								</a>
								
								</div>
							</div>
							<div class="col-md-2">

								<div class="card"  >
									<a href="termek.html">
									
										<img ng-src="img/Cukorviragdisz/disz7.jpeg" class="card-img-top" alt="...">
											<div class="card-body">
											<h5 class="card-title">Orchidea </h5>
												<p>3000 ft</p> <p>Kosár</p>
										
									</div>
									</a>
									
								</div>
							</div>
							
							<div class="col-md-2">               
									<div class="card"  >
									<a href="termek.html" >
									<img ng-src="img/Cukorviragdisz/disz2.jpeg" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Liliom</h5>
										<p>2400 ft</p>
										<p>Kosár</p>
										
									
									</div>
								</a>
								</div>
								
							</div>
							<div class="col-md-2">
							
								
								<div class="card"  >
									<a href="termek.html" >
									<img ng-src="img/Figurak/dog.jpeg" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title">Dobbermann</h5>
												<p>2400 ft</p>
												<p>Kosár</p>
										
										
										</div>
									</a>
								</div>   
							</div>    
						</div>
						<hr>

							<div class="row row-cols-1 g-4">

								<div class="col-md-2">

								</div>
								
									<div class="col-md-2">
								
										<div class="card"  >
											<a href="/html/termek.html">
										
											<img ng-src="img/Naszparok/parok15.jpeg" class="card-img-top" alt="...">
											<div class="card-body">
												<h5 class="card-title">Nászpár</h5>
													<p>2400 ft</p>
													<p>Kosár</p>
											
											
											</div>
											</a>
										
										</div>
										<div class="col-md-2">
					
									
										</div>
									
									</div>
								
									<div class="col-md-2">               
										<div class="card"  >
											<a href="termek.html" >
												<img ng-src="img/Eskuvocukor/cukor14.jpeg" class="card-img-top" alt="...">
												<div class="card-body">
													<h5 class="card-title">Virág</h5>
														<p>2400 ft</p>
														<p>Kosár</p>
											
											
												</div>
											</a>
										</div>
									
									</div>
								<div class="col-md-2">

									<div class="card"  >
										<a href="termek.html">
										
											<img ng-src="img/Cukorviragdisz/disz7.jpeg" class="card-img-top" alt="...">
												<div class="card-body">
													<h5 class="card-title">Orchidea </h5>
														<p>3000 ft</p> <p>Kosár</p>
											
												</div>
										</a>
										
									</div>
								</div>
									<div class="col-md-2">
									
									
										<div class="card"  >
											<a href="termek.html" >
											<img ng-src="img/Figurak/dog.jpeg" class="card-img-top" alt="...">
												<div class="card-body">
													<h5 class="card-title">Dobbermann</h5>
														<p>2400 ft</p>
														<p>Kosár</p>
							
										
												</div>
											</a>
										</div>   
									</div>    
								</div>
					
						
						
					</div>			
  	  </div>
</div>


<!--Slider-->
<div class="slider">
	<ul>
	  <li ng-repeat="x in [].constructor(22) track by $index">
		<img ng-src="./img/Cukorviragdisz/disz{{$index+1}}.jpeg" alt="">
	  </li>
	  <li ng-repeat="x in [].constructor(36) track by $index">
		<img ng-src="./img/Eskuvocukor/cukor{{$index}}.jpeg" alt="">
	  </li>
	</ul>
</div>