<div class="header mt-5 bg-dark-transparent">
	<div class="row mt-5">
	  <h1 class="text-center my-3">Fejlesztőink</h1>
	</div>
</div>

    <!--Cards-->
<div class="row row-cols-1 row-cols-md-4 g-3 mt-5 justify-content-center"> 
    <div class="col">
      <a href="" target="_blank">
        <div class="card developercard" data-bs-toggle="modal" data-bs-target="#fejleszto1Modal">
            <img src="img/anonim.jfif" class="card-img-top" >
            <div class="card-body">
          <h5 class="card-title text-center">Szabó Martin Tamás</h5>
            </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="" target="_blank">
      <div class="card developercard" data-bs-toggle="modal" data-bs-target="#fejleszto2Modal">
        <img src="img/anonim.jfif" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title text-center">Földi Ákos Ádám</h5>
        </div>
      </div>
    </a>
    </div>
</div>

    <!--Slider-->
<div class="slider">
	<ul>
	  <li ng-repeat="x in [].constructor(22) track by $index">
		<img ng-src="./img/Cukorviragdisz/disz{{$index+1}}.jpeg" alt="">
	  </li>
	  <li ng-repeat="x in [].constructor(36) track by $index">
		<img ng-src="./img/Eskuvocukor/cukor{{$index}}.jpeg" alt="">
	  </li>
	</ul>
</div>

    <!--Modals-->

    <div class="modal" id="fejleszto1Modal" tabindex="-1">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
              <div class="modal-header bg-black justify-content-center">
                  <h5 class="modal-title szin">Szabó Martin Tamás</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-black">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-3 col-md-3">
                              <img src="img/anonim.jfif" alt="" class="img-fluid rounded">
                          </div>
                          <div class="col-sm-8">
                              <p class="text-white"> 
                                  Egy céltudatos fiatal informatikus diák vagyok, aki elhivatott a technológia világának felfedezésében és fejlődésében. Az évek során egyre többet tanultam az informatika különböző területeiről. Szorgalmas és elkötelezett diákként mindig törekszek a legjobb eredmények elérésére. Nemcsak szakmailag, hanem személyesen is fejlődni szeretnék. Nyitott és barátságos személyiségemnek köszönhetően könnyen teremtek kapcsolatokat másokkal, és szeretek másokkal együtt dolgozni, hogy közösen megoldjuk az informatikai problémákat. A célom, hogy olyan innovatív megoldásokat hozzak létre, amelyek hozzájárulnak a technológiai fejlődéshez és a társadalom javára válnak.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer bg-black">
                  <button type="button" class="btn btn-success bg-black border-white" data-bs-dismiss="modal">Bezárás</button>
              </div>
          </div>
      </div>
    </div>
  
  
  


  <div class="modal" id="fejleszto2Modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-black">
          <h5 class="modal-title szin justify-content-center">Földi Ákos Ádám</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-black">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <img src="img/anonim.jfif" alt="" class="img-fluid rounded">
              </div>
              <div class="col-sm-8">
                <p class="text-white"> 
                    Ákos vagyok
                    </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-black">
          <button type="button" class="btn btn-success bg-black border-white" data-bs-dismiss="modal">Bezárás</button>
        </div>
      </div>
    </div>
  </div>
