<div class="container">
	<div class="row my-5 justify-content-center">

    <!-- Panel -->
		<div class="form-panel pay p-4 border bg-black rounded-4 
                col-11 col-md-8 col-lg-6 col-xxl-5">

      <!-- Title -->
			<h3 class="text-center text-white">Fizetés</h3>

      <!-- pay form -->	 
      <form name="payForm">

        <!-- Name -->
        <div class="mb-3">
          <label for="payName" class="form-label">
            <i class="fa-solid fa-star fa-2xs text-danger"></i>
            <span class="text-white">Teljes név:</span>
          </label>
          <input class="form-control"
                id="payName"
                name="payName"
                placeholder="Név"
                type="text"
                spellcheck="false" 
                autocomplete="off"
                maxlength="100"
                ng-model="model.name"
                ng-init="model.name=null"
                required>
        </div>

         <!-- Email -->
         <div class="mb-3">
          <label for="payEmail" class="form-label">
            <i class="fa-solid fa-star fa-2xs text-danger"></i>
            <span class="text-white">Email cím:</span>
          </label>
          <input class="form-control"
                id="payEmail"
                name="payEmail"
                placeholder="Email-cím"
                type="email"
                spellcheck="false" 
                autocomplete="off"
                maxlength="50"
                ng-model="model.email"
                ng-init="model.email=null"
                ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
                required>
        </div>

        <!-- Password -->
        <div class="mb-1">
          <label for="payPassword" class="form-label">
            <i class="fa-solid fa-star fa-2xs text-danger"></i>
            <span class="text-white">Jelszó:</span>
          </label>
          <input class="form-control input-password"
                id="payPassword"
                name="payPassword"
                placeholder="Jelszó" 
                type="password"
                spellcheck="false" 
                autocomplete="off"
                maxlength="50"
                ng-model="model.password"
                ng-init="model.password=null"
                ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                required
                aria-describedby="payPasswordHelp">
          <div id="payPasswordHelp" class="form-text text-muted fs-sm">
            6-20 karakter (kis-nagy betűt, és számot tartalmaz)
          </div>
        </div>

        <!-- Show/Hide password -->
				<div class="mb-3 form-check">
					<input type="checkbox" 
								 class="form-check-input" 
								 id="passwordShow"
								 name="passwordShow"
								 ng-model="model.passwordShow"
								 ng-init="model.passwordShow=false"
								 ng-click="event=$event"
					 			 ng-change="methods.showHidePassword(event)">
					<label class="form-check-label  text-white" for="passwordShow">
						Jelszót megjelenít
					</label>
				</div>
       
        <!-- Phone -->
        <div class="mb-3">
          <label for="country_code" class="form-label">
            <span class="text-white">Telefonszám:</span>
          </label>
          <div class="mb-3">

            <!-- Country code -->
            <span class="text-white">+</span>
            <input class="form-control d-inline-block mx-1"
                  id="country_code"
                  name="country_code" 
                  type="text"
                  placeholder="OH"
                  style="max-width:60px;"
                  spellcheck="false" 
                  autocomplete="off"
                  maxlength="3"
                  ng-model="model.country_code"
                  ng-init="model.country_code='36'"
                  ng-pattern="/^$|^(?!(0))[0-9]{1,3}$/">

            <!-- Phone -->
            <input class="form-control d-inline-block"
                  id="phone"
                  name="phone" 
                  type="text"
                  placeholder="telefonszám"
                  style="max-width:150px;"
                  spellcheck="false" 
                  autocomplete="off"
                  maxlength="10"
                  ng-model="model.phone"
                  ng-init="model.phone=null"
                  ng-pattern="/^$|^(?!(0))[0-9]{7,10}$/">
          </div>
        </div>

       
        <hr class="divider">

        <!-- Buttons -->
        <div class="text-center text-sm-end">

          <!-- Accept button -->
          <button data-key="pay" 
                  type="button" 
                  class="btn mx-1 mb-1 btn-primary bg-black text-white border-white"
                  style="min-width:120px;"
                  ng-disabled="payForm.$invalid" 
                  ng-click="methods.accept($event)">
            Regisztráció
          </button>

          <!-- Cancel -->
          <button type="button" 
                  class="btn mx-1 mb-1 btn-secondary bg-black text-white border-white" 
                  style="min-width:120px;"
                  ng-click="methods.cancel($event)">
            Mégsem
          </button>
        </div>
        <p class="text-center text-white my-3">Már van fiókod? <a href="http://localhost/2_14_a/vizsgaremek/Cukorvarazslat/#!/login">Itt</a> tudsz bejelentkezni!</p>  
      </form>
    </div>
  </div>
</div>
