<!-- Navbar -->
<nav class="navbar navbar-expand-xxl"
		 ng-bs-navbar-collapse>

	<!-- Container -->
	<div class="container-fluid">

		<!-- Logo -->
	  <a class="navbar-brand me-1">
		  <img ng-src="./img/icons/orchidea.svg" height="40" width="40" alt="logo">
	  </a>

		<!--Name-->
    <a class="navbar-brand me-1" ui-sref="home">
      <span class="ikon">Cukorvarázslat</span>
      <h6 class="alcim">Cukorvirágok és Cukordíszek</h6>
    </a>
		
    <!-- Hamburger icon -->
	  <button class="navbar-toggler " 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>

		<!-- Navigation -->
	  <div class="collapse navbar-collapse" id="navbarNav">

			<!-- Navbar content LEFT -->
			<ul class="navbar-nav me-auto">

        <!-- Home -->
		    <li class="nav-item mx-1">
		  	  	<a class="nav-link " 
             	ui-sref="home"
             	ui-sref-active="active">
			  	<span class="menupontok">Kezdőlap</span>
          	  	</a>
		    </li>

        <!-- Presing Lenke -->
		    <li class="nav-item mx-1">
		  	  	<a class="nav-link text-nowrap" 
            	ui-sref="presing_lenke"
             	ui-sref-active="active">
			 	<span class="menupontok">Presing Lenke</span> 
          	  	</a>
		    </li>

        <!-- Galléria -->
		    <li class="nav-item dropdown ms-1">
          		<a class="nav-link dropdown-toggle" 
				href="#" 
				role="button" 
				data-bs-toggle="dropdown" 
				aria-expanded="false">
				<span class="menupontok">Galéria</span>	
          		</a>
          			<ul class="dropdown-menu dropdown-menu-dark">

						<!-- Cukorvirágdíszek -->
		  		  		<li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Cukorviragdisz'})">
								Cukorvirágdíszek
							</a>
						</li>

						<!-- Esküvői díszek -->
		  		  		<li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Eskuvocukor'})">
								Esküvői díszek
							</a>
						</li>

						<!-- Figurák -->
		  		  		<li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Figurak'})">
								Figurák
							</a>
						</li>

						<!-- Nászpárok -->
		  		  		<li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Naszparok'})">
								Nászpárok
							</a>
						</li>

						<!-- Torták -->

						<li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Tortak'})">
								Torták
							</a>
						</li>

						<!-- Sütemények -->

						<li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Sutemenyek'})">
								Sütemények
							</a>
						</li>

						<!-- Karamell cukrok -->

						<li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Karamell-cukrok'})">
								Karamell cukrok
							</a>
						</li>
		  	  		</ul>
		    </li>

        <!-- Bolt -->
		    <li class="nav-item me-1">
		  	  <a class="nav-link" 
             	ui-sref="bolt"
             	ui-sref-active="active">
			 	<span class="menupontok">Bolt</span>
          	  </a>
		    </li>

        <!-- Kapcsolat -->
		    <li class="nav-item mx-1">
		  	  <a class="nav-link" 
             	ui-sref="Kapcsolat"
             	ui-sref-active="active">
			 	<span class="menupontok">Kapcsolat</span>
          	  </a>
		    </li>

        <!-- Receptek -->
			<li class="nav-item mx-1">
		  	  <a class="nav-link" 
             	ui-sref="receptek"
             	ui-sref-active="active">
			 	<span class="menupontok">Receptek</span>
          	  </a>
		    </li>

		<!-- Fejlesztők -->
			<li class="nav-item mx-1">
		  	  <a class="nav-link" 
             	ui-sref="fejlesztok"
             	ui-sref-active="active">
			 	<span class="menupontok">Fejlesztőink</span>
          	  </a>
		    </li>

		  </ul>

				<!-- Navbar content RIGHT -->
			<ul class="navbar-nav ms-auto">

				<!-- User -->
				<li class="nav-item dropdown mt-4 mt-xxl-0 me-4 position-relative"
						ng-if="$root.user.id">
					<a class="nav-link dropdown-toggle" 
						 href="#" role="button" 
						 data-bs-toggle="dropdown" 
						 aria-expanded="false">
						<i class="position-absolute fa-solid fa-user text-white fa-2x top-0"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
						<li>
							<span class="dropdown-item-text">
								{{$root.user.name}}
							</span>
						</li>
						<li><hr class="dropdown-divider text-bg-light"></li>
						<li class="nav-item">
							<a class="dropdown-item" 
								 ui-sref="profile"
					 	 		 ui-sref-active="active">
								<i class="fa-solid fa-id-card fa-xl profil me-2"></i>
								<span class="text-capitalize text-small-caps menupontok">
									Profil
								</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item" 
								 ui-sref="order"
					 	 		 ui-sref-active="active">
								<i class="fa-regular fa-rectangle-list fa-xl order me-2"></i>
								<span class="text-capitalize text-small-caps menupontok">
									Rendeléseim
								</span>
							</a>
						</li>
            <li><hr class="dropdown-divider text-bg-light"></li>
            <li class="nav-item">
							<a class="dropdown-item" 
								 ng-click="logout()"
					 	 		 ui-sref-active="active">
								<i class="fa-solid fa-right-from-bracket fa-xl kijelentkezes me-2"></i>
								<span class="text-capitalize text-small-caps menupontok">
									Kijelenkezés
								</span>
							</a>
						</li>
          </ul>
			 	</li>

				<!-- Bejelentkezés -->
		    <li class="nav-item mx-2" 
						ng-if="!$root.user.id && $root.state.id !== 'login'">
		  		<a class="nav-link" ui-sref="login" ui-sref-active="active">
						<i class="fa-solid fa-right-to-bracket fa-xl bejelentkezes"></i>
						<span class="text-capitalize text-small-caps menupontok">
							Bejelentkezés
						</span>
        	</a>
       	</li>

       	<!-- Regisztráció  -->
       	<li class="nav-item mx-2"
						ng-if="!$root.user.id && $root.state.id === 'login'">
		  	  <a class="nav-link" 
          	 ui-sref="register"
					 	 ui-sref-active="active">
						<i class="fa-solid fa-id-card fa-xl regisztracio"></i>
						<span class="text-capitalize text-small-caps menupontok">
							Regisztráció
						</span>
        	</a>
		  	</li>

				<!-- Kosár -->
				<li class="nav-item kosarIkon shopping position-relative 
									 mt-4 mt-xxl-0 me-4">
				  <a class="nav-link" 
						 ng-class="{'disabled': !$root.user.id}"
						 ui-sref="Kosar" 
						 ui-sref-active="active"> 
						<img ng-src="./img/icons/shopping.svg" >
						<div class="text-white position-absolute 
											  border rounded-circle px-2"
								 style="left:25px;top:-10px;">
							{{$root.cart.length}}
						</div>
					</a>
			 	</li>

				<!-- Profil  -->
       	<!-- <li class="nav-item mx-1"
					 	ng-if="$root.user.id">
		  	 	<a class="nav-link" 
         		 ui-sref="profile"
						 ui-sref-active="active">
						<i class="fa-solid fa-id-card fa-xl me-1 profil"></i>
						<span class="text-capitalize text-small-caps menupontok">
							Profil
						</span>
        	</a>
		  	</li> -->

				<!-- Logout -->
		  	<!-- <li class="nav-item cursor-pointer" 
						ng-if="$root.user.id">
		  		<a class="nav-link"
						ui-sref-active="active" 
					 	ng-click="logout()">
						<i class="fa-solid fa-right-from-bracket fa-xl me-1 kijelentkezes"></i>
						<span class="text-capitalize text-small-caps menupontok">
							Kijelenkezés
						</span>
					</a>
		  	</li> -->
			</ul>
	 	 </div>
	</div>
</nav>
