<!-- Navbar -->
<nav class="navbar  navbar-expand-xl">

	<!-- Container -->
	<div class="container-fluid">

		<!-- Logo -->
	  	<a class="navbar-brand" height="40">
		  <img ng-src="./img/orchidea.svg" alt="logo">
		</a>

		<!--Name-->

            <a class="navbar-brand">
                <span class="ikon"> Cukorvarázslat</span> <br>
                <h6 class="alcim">Cukorvirágok és Cukordíszek</h6>
            </a>
		
    <!-- Hamburger icon -->
	  <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>

		<!-- Navigation -->
	  <div class="collapse navbar-collapse" id="navbarNav">

			<!-- Navbar content LEFT -->
			<ul class="navbar-nav me-auto">

        <!-- Home -->
		    <li class="nav-item mx-3">
		  	  <a class="nav-link " 
             ui-sref="home"
             ui-sref-active="active">
			 <span class="menupontok">	Kezdőlap</span>
          </a>
		    </li>

        <!-- Presing Lenke -->
		    <li class="nav-item mx-3">
		  	  <a class="nav-link text-nowrap" 
             ui-sref="presing_lenke"
             ui-sref-active="active">
			 <span class="menupontok">  Presing Lenke</span> 
          </a>
		    </li>

        <!-- Galléria -->
		    <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" 
						 href="#" 
						 role="button" 
						 data-bs-toggle="dropdown" 
						 aria-expanded="false">
					<span class="menupontok">Galléria</span>	
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">

						<!-- Cukorvirágdíszek -->
		  		  <li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Cukorviragdisz'})">
								Cukorvirágdíszek
							</a>
						</li>

						<!-- Esküvői díszek -->
		  		  <li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Eskuvocukor'})">
								Esküvői díszek
							</a>
						</li>

						<!-- Figurák -->
		  		  <li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Figurak'})">
								Figurák
							</a>
						</li>

						<!-- Nászpárok -->
		  		  <li>
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Naszparok'})">
								Nászpárok
							</a>
						</li>
						<li>
							
						<!-- Torták -->
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Tortak'})">
								Torták
							</a>
						</li>
						<li>
							
						<!-- Sütemények -->
							<a class="dropdown-item" 
								 ui-sref-active="active" 
								 ui-sref="galeria({type:'Sutemenyek'})">
								Sütemények
							</a>
						</li>
						<li>
							
							<!-- Karamell cukrok -->
								<a class="dropdown-item" 
									 ui-sref-active="active" 
									 ui-sref="galeria({type:'Karamell-cukrok'})">
									Karamell cukrok
								</a>
							</li>

		  	  </ul>
		    </li>

        <!-- Bolt -->
		    <li class="nav-item mx-3">
		  	  <a class="nav-link" 
             ui-sref="bolt"
             ui-sref-active="active">
			 <span class="menupontok">  Bolt</span>
          </a>
		    </li>

        <!-- Kapcsolat -->
		    <li class="nav-item mx-3">
		  	  <a class="nav-link" 
             ui-sref="Kapcsolat"
             ui-sref-active="active">
			 <span class="menupontok">  Kapcsolat</span>
          </a>
		    </li>
        <!-- Receptek -->

			<li class="nav-item mx-3">
		  	  <a class="nav-link" 
             ui-sref="receptek"
             ui-sref-active="active">
			 <span class="menupontok">  Receptek</span>
          </a>
		    </li>
		  </ul>

			<!-- Navbar content RIGHT -->
			<ul class="navbar-nav ms-auto">
				<li class="nav-item megosztasIkon">
					<a class="nav-link" href="#"> <img id="shareBtn" src="./img/megosztas.svg" alt="" srcset=""> </a>
				</li>
				<li class="nav-item kosarIkon shopping">
				  <a class="nav-link" href="#"> <img src="./img/shopping.svg" alt="" srcset=""></a>
			  </li>

				<!-- Bejelentkezés -->
		    <li class="nav-item mx-1"
						ng-if="!$root.user.id && $root.state.id !== 'login'">
		  	  <a class="nav-link" 
             ui-sref="login"
						 ui-sref-active="active">
						<i class="fa-solid fa-right-to-bracket fa-xl me-1 bejelentkezes"></i>
						<span class="text-capitalize text-small-caps menupontok">
							Bejelentkezés
						</span>
          </a>
        </li>

        <!-- Regisztráció  -->
        <li class="nav-item mx-1"
						ng-if="!$root.user.id && $root.state.id === 'login'">
		  	  <a class="nav-link" 
             ui-sref="register"
						 ui-sref-active="active">
						<i class="fa-solid fa-id-card fa-xl me-1 regisztracio"></i>
						<span class="text-capitalize text-small-caps menupontok">
							Regisztráció
						</span>
          </a>
		    </li>

				<!-- Profil  -->
        <li class="nav-item mx-1"
						ng-if="$root.user.id">
		  	  <a class="nav-link" 
             ui-sref="profile"
						 ui-sref-active="active">
						<i class="fa-solid fa-id-card fa-xl me-1 profil"></i>
						<span class="text-capitalize text-small-caps menupontok">
							Profil
						</span>
          </a>
		    </li>

				<!-- Logout -->
		    <li class="nav-item cursor-pointer" 
						ng-if="$root.user.id">
		  	  <a class="nav-link"
						 ui-sref-active="active" 
						 ng-click="logout()">
						<i class="fa-solid fa-right-from-bracket fa-xl me-1 kijelentkezes"></i>
						<span class="text-capitalize text-small-caps menupontok">
							Kijelenkezés
						</span>
					</a>
		    </li>
			</ul>
	  </div>
	 
	</div>
	
</nav>
