<div class="container">
	<div class="row my-5">
		<h1 class="text-center mt-5 display-1">Kosár</h1>
	</div>

  <div class="row my-5 justify-content-center ">
    <div class="cart-item col-12 col-md-2 col-xl-3" 
        ng-repeat="item in $root.cart track by $index">
      <img ng-src="img/{{item.type}}/{{item.img}}" width="200" alt="Termék">
      <div class="cart-item-details text-white">
        <h4>{{item.name}}</h4>
        <p>Ár: {{item.price | numSep}} Ft</p>
        <p>Mennyiség: {{item.quantity | numSep}}</p>
        <p>Összesen: {{item.total | numSep}} Ft</p>
        <p class="cursor-pointer text-danger" 
           id="torles" ng-click="torol(item)">Tétel törlése</p>
      </div>
    </div>
    <hr class="text-white">
  </div>

  <div class="row my-5 justify-content-center ">
    <div class="cart-total text-white w-auto"
        ng-if="($root.cart | sumTotal)">
      <span>Összesen: {{$root.cart | sumTotal | numSep}}Ft</span>
      <button type="button" 
              class="btn btn-outline-orange ms-4" 
              ui-sref-active="active"
              data-bs-toggle="modal" 
              data-bs-target="#buyModal">
        Vásárlás
      </button>
    </div>
  </div>
</div>

<!-- Bankkártya adatok -->
<div class="modal fade mt-5"
		 data-bs-backdrop="static" 
		 data-bs-keyboard="false" 
		 aria-labelledby="staticBackdropLabel" 
		 aria-hidden="true"
		 id="buyModal" 
		 tabindex="-1">
	<div class="modal-dialog">
	  <div class="modal-content">
			<div class="modal-body">
			  <div class="container">
					<form class="credit-card h-auto w-auto" name="byForm">
						<div class="form-header position-relative">
							<h4 class="title text-center">Bankkártya adatok</h4>
							<button type="button" 
											class="btn-close position-absolute top-0 end-0 mt-2 me-2" 
											data-bs-dismiss="modal" 
											aria-label="Close">
							</button>
						</div>
						<div class="form-body h-auto">
			
							<!-- Card Number -->
							<div class="mb-3">
								<label for="cardNumber" class="form-label text-black">
									Kártyaszám:
								</label>
								<input class="form-control"
											 type="text"
											 name="cardNumber"
											 id="cardNumber"
											 ng-model="model.cardNumber"
											 ng-init="model.cardNumber=null" 
											 placeholder="Kártyaszám"
											 ng-pattern="/^\d{15,16}$/"
											 maxlength="16"
											 required>
							</div>
			
							<!-- Year -->
							<div class="mb-2">
								<label for="year" class="form-label text-black">
									Lejárati év:
								</label>
								<select class="form-select w-auto" 
												aria-label="year"
												id="year"
												name="year"
												ng-model="model.year"
												ng-init="model.year=null"
												ng-options="x as x for x in years"
												required>
									<option hidden disabled selected value>
										-- Válasszon --
									</option>
								</select>
							</div>
			
							<!-- Month -->
							<div class="mb-2">
								<label for="month" class="form-label text-black">
									Lejárati hónap:
								</label>
								<select class="form-select w-auto"
												name="month"
												id="month"
												ng-model="model.month"
												ng-init="model.month=null"
												ng-options="x as x for x in months"
												required>
									<option hidden disabled selected value>
										-- Válasszon --
									</option>
								</select>
							</div>
							
							<!-- Verification code -->
							<div class="mb-4">
								<label for="cvv" class="form-label text-black">
									Ellenőrző kód:
								</label>
								<input class="form-control" 
											 type="text" 
											 placeholder="CVV"
											 name="cvv"
											 id="cvv"
											 ng-model="model.cvv"
											 ng-init="model.cvv=null"
											 ng-pattern="/^\d{3,3}$/"
											 maxlength="3"
											 required
											 style="max-width:152px;">
							</div>

							<!-- Buttons -->
							<div class="row justify-content-end">
								<button type="button" 
												class="btn btn-outline-orange w-auto d-inline-block mx-2"
												ng-disabled="byForm.$invalid"
												ng-click="vasarlas()">
									Fizetés
								</button>
								<button type="button" 
												class="btn btn-secondary w-auto d-inline-block mx-2"
												data-bs-dismiss="modal">
									Mégsem
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>	
	</div>
</div>