<div class="container">
	<div class="row my-5 justify-content-center">

		<!-- Panel -->
		<div class="form-panel login my-5 p-4 border bg-black rounded-4 
								col-11 col-md-8 col-lg-6 col-xxl-5">

			<!-- Title -->
			<h3 class="text-center text-white my-3">Bejelenkezés</h3>

			<!-- Login form -->	 
			<form name="loginForm">
			
				<!-- Email -->
				<div class="mb-3">
					<label for="logEmail" class="form-label text-white my-3">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<span>Email-cím:</span>
					</label>
					<input class="form-control"
								 id="logEmail"
								 name="logEmail"
								 placeholder="Email-cím"
								 type="email"
								 spellcheck="false" 
								 autocomplete="off"
								 maxlength="50"
								 ng-model="model.email"
								 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
								 required>
				</div>
			
				<!-- Password -->
				<div class="mb-1">
					<label for="logPassword" class="form-label text-white my-3">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<span>Jelszó:</span>
					</label>
					<input class="form-control input-password"
								 id="logPassword"
								 name="logPassword"
								 placeholder="Jelszó" 
								 type="password"
								 spellcheck="false" 
								 autocomplete="off"
								 maxlength="50"
								 ng-model="model.password"
								 ng-init="model.password=null"
								 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
								 required
								 aria-describedby="passwordHelp">
					<div id="passwordHelp" class="form-text text-muted fs-sm">
						6-20 karakter (kis-nagy betűt, és számot tartalmaz)
					</div>
				</div>
			
				<!-- Show/Hide password -->
				<div class="mb-3 form-check">
					<input type="checkbox" 
								 class="form-check-input" 
								 id="passwordShow"
								 name="passwordShow"
								 ng-model="model.passwordShow"
								 ng-init="model.passwordShow=false"
								 ng-click="event=$event"
					 			 ng-change="methods.showHidePassword(event)">
					<label class="form-check-label text-white my-3" for="passwordShow">
						Jelszót megjelenít
					</label>
				</div>
				<hr class="divider">
			
				<!-- Buttons -->
				<div class="text-center text-sm-end">
				
					<!-- Accept button -->
					<button data-key="login" 
									type="button" 
									class="btn mx-1 mb-1 btn-primary bg-black text-white border-white" 
									style="min-width:120px;"
									ng-disabled="loginForm.$invalid" 
									ng-click="methods.accept($event)">
						Bejelenkezés
					</button>
				
					<!-- Cancel -->
					<button type="button" 
									class="btn mx-1 mb-1 btn-secondary bg-black text-white border-white"
									style="min-width:120px;"
									ng-click="methods.cancel($event)">
						Mégsem
					</button>
				</div>  
				<p class="text-center text-white my-3">Még nincs fiókod? <a href="http://localhost/2_14_a/vizsgaremek/Cukorvarazslat/#!/register">Itt</a> tudsz regisztrálni!</p>
			</form>
		</div>
	</div>
</div>