<div class="container">
	<div class="row my-5">
		<h1 class="text-center mt-5 display-1">Rendeléseim</h1>
	</div>

	<div class="row my-5 justify-content-center">
		<div class="col-12 col-lg-11 col-xxl-10 
								overflow-x-auto bg-light p-3 border rounded">
			<div class="accordion" id="ordersAccordion">
				<div class="accordion-item" 
						 ng-repeat="order in orders track by $index">
					<h2 class="accordion-header" 
							id="panelsStayOpen-heading-{{$index}}">
						<button class="accordion-button collapsed" 
										type="button" 
										data-bs-toggle="collapse" 
										data-bs-target="#panelsStayOpen-collapse-{{$index}}" 
										aria-expanded="false" 
										aria-controls="panelsStayOpen-collapse-{{$index}}">
							<table class="table table-bordered w-auto mb-0">
								<thead>
									<tr>
										<th class="text-nowrap text-end"
												ng-class="{'text-center': k === 'date'}"
												ng-repeat="(k, v) in header.button">
											{{v}}
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-nowrap text-end"
												ng-class="{'text-center': k === 'date'}"
												ng-repeat="(k, v) in header.button"
												ng-switch="k">
											<span ng-switch-when="date">{{order[k]}}</span>
											<span ng-switch-when="items">{{order[k].length | numSep}}</span>
											<span ng-switch-default>{{order[k] | numSep}}</span>
										</td>
									</tr>
								</tbody>
							</table>
						</button>
					</h2>
					<div id="panelsStayOpen-collapse-{{$index}}" 
							 class="accordion-collapse collapse" 
							 aria-labelledby="panelsStayOpen-heading-{{$index}}">
						<div class="accordion-body">
							<table class="table table-bordered w-auto mb-0">
								<thead>
									<tr>
										<th class="text-end">#</th>
										<th class="text-nowrap"
												ng-class="{'text-start': k === 'name', 
																	 'text-end': k !== 'name'}"
												ng-repeat="(k, v) in header.body">
											{{v}}
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in order.items track by $index">
										<td class="text-end align-middle">{{($index + 1) | numSep}}</td>
										<td class="text-nowrap align-middle"
												ng-class="{'text-start': k === 'name', 
																	 'text-end': k !== 'name'}"
												ng-repeat="(k, v) in header.body"
												ng-switch="k">
											<span ng-switch-when="name">
												<img ng-src="./img/{{item.type}}/{{item.img}}" 
										 				 width="30" class="img-fluid me-3" alt="Termék">
												<span>{{item[k]}}</span>
											</span>
											<span ng-switch-default>{{item[k] | numSep}}</span>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th colspan="4" class="text-end align-middle">Mindösszesen (Ft):</th>
										<th class="text-end align-middle">{{order.total | numSep}}</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>