
<div class="container">
  <div class="row text-white justify-content-center">
    <div class="col-12 col-md-6 col-xl-5 col-xxl-4 my-3 mt-my-5">
      <div class="position-relative">
        <img class="img-fluid" ng-src="./img/PresingLenke.jpeg" alt="img">
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-white szegely">  
    <h4 class="col-12 col-md-6 col-xl-5 col-xxl-5 my-5 display-6 text-center">Presing Lenke</h4>
    <div class="text-start fs-6 px-3" style="text-indent:50px;">
      <p class="centerr">
        Presing Lenke vagyok. 1973.07.09 én születtem. A művészetek iránti szerelem azt hiszem a véremben van.
      </p>  
      <p class="centerr">
        Képzőművészeti főiskolára készültem, de az élet más útra terelt sok sok éven át. De a sorsát senki sem kerülheti el.
      </p> 
      <p class="centerr">
        Beleszerettem a cukrászatba, és 2011-ben cukrász diplomát szereztem, de a díszítés, a cukorvirágok, figurák, diszitési technikák sokkal jobban érdekeltek, így 2012 óta ez a hivatásom. 
      </p>
      <p class="centerr">
        Magyarországon elsőként tanultam meg a cukorvirágok készitését,és elsőként foglalkoztam oktatással. Szeretek egyedi, személyre szabott díszeket készíteni.
      </p>
    </div>
    <h5 class="my-4 text-center">Ez egy csodálatos világ.</h5>
    <div class="row text-white justify-content-center">
      <div class="col-12 col-md-6 col-xl-5 col-xxl-4 my-3 mt-my-5">
        <div class="position-relative">
          <img class="img-fluid" ng-src="./img/Lenkeirass-remove.png" alt="img">
        </div>
      </div>
    </div>
  </div>
 
</div>

<div class="slider">
  <ul>
    <li ng-repeat="x in [].constructor(22) track by $index">
      <img ng-src="./img/Cukorviragdisz/disz{{$index+1}}.jpeg" alt="">
    </li>
    <li ng-repeat="x in [].constructor(36) track by $index">
      <img ng-src="./img/Eskuvocukor/cukor{{$index}}.jpeg" alt="">
    </li>
  </ul>
</div>