<div class="header mt-5">
	<div class="container">
		<div class="row mt-5">
			<h1 class="text-center">Kapcsolat</h1>
		</div>
	</div>
</div>

    <div class="container text-center" style="color:wheat;">
		
     <div class="row">
       <h3> ALAN DUNN HÁZI VIRÁGMASSZÁJA</h3>
<p>
        2 KÁVÉSKANÁL ZSELATINT BEÁZTATUNK 5 KÁVÉSKANÁL VÍZBE.
        
        HAGYJUK MEGDAGADNI.
        
        500G FINOM PORCUKROT(FAMILY SWEET A LEGJOBB)ÁTSZITÁLUNK 3 KÁVÉSKANÁL TRAGANT PORRAL VAGY CMC-PORRAL.
        
        A ZSELATINOS TÁLAT GŐZ FÖLÉ HELYEZZÜK.2 KÁVÉSKANÁL FOLYÉKONY GLUKÓZT ÉS 2 -3 KÁVÉSKANÁL FEHÉR ZSIRADÉKOT (KÓKUSZZSÍR)TESZÜNK BELE ÉS EGYÜTT ADDIG MELEGÍTJÜK AMÍG SZÉPEN FEL NEM OLVAD.
        
        ÍGY MELEGEN A PORCUKOR KÖZEPÉBE ÖNTJÜK,MAJD MIXERREL VAGY AKINEK VAN ROBOTGÉPBE IS TEHETI,LASSÚ FOKOZATON KEZDJÜK VERNI,MIKÖZBEN EGY TOJÁS FEHÉRJÉT IS HOZZÁADUNK.SAJNOS KÉZI HABVERŐVEL NEM LEHET SOKÁIG VERNI,MERT LEÉGNE A MIXER.AMIKOR MÁR KEZD SZÉPEN ÖSSZEÁLLNI ÉS NYÚLÓSSÁ VÁLNI AKKOR KÉZZEL LEHET A MARADÉK PORCUKROT HOZZÁGYÚRNI,ADDIG AMÍG RUGALMAS SELYMES MASSZÁT NEM KAPUNK.LÉGMENTESEN LEZÁRVA 2 ÓRA MÚLVA HASZNÁLHATÓ.NAGYON JÓL SZÍNEZHETŐ.
        
        HŰTŐBEN AKÁR 3 HÓNAPIG IS ELÁLL.
    </p>
    </div>
         
     <div class="row">
        
    <h3>  SK TRAGANT</h3>
        <p>
        1 kg porcukorra megadva.
        
        15 gr porzselatint beáztatunk kb 6 evőkanál vízbe.ha megdagadt ,hozzáadunk 5 g borkősavat,és 30ml vizet,majd gőz fölött felmelegítjük és még melegen hozzákeverjük az átszitált porcukorhoz-
        
        Jól összegyúrjuk,majd légmentesen zacskóba csomagoljuk és állni hagyjuk pár órát.Gyorsan szárad ezért egyszerre csak kis adagot vegyünk ki a zacsiból,gyúrjuk jól át,majd keményítőn dolgozzunk vele.papírvékonyra nyújtható,és porcelánkeménységűre szárad.</p>
    </div>
     <div class="row">
        
    <h3>    Mintázómáz:</h3>
<p>
        500g porcukor
        
                           2 evőkanál tragantgumi(Sőregi-nél kapható)
        
                           2 teáskanál folyékony glükóz(megfelel helyette a glicerin is)
        
                          60ml hideg víz.
        
                         Szitáljuk a porcukrot egy tálba a traganttal együtt.Közepébe mélyedést készítsünk,öntsük bele a vizet és a glükózt vagy a glicerint,keverjük össze és gyúejuk tésztává.Csomagoljuk be légmentesen egy zacsiba és pár órára
        
                         tegyük félre.Ha nagyon muszály,azonnal i s fel tudjuk használni.
        
        Megemlíteném,hogy a tragantnak van egy kis mellékíze,de nagyon szép díszeket lehet belőle kreálni.Ebből a masszából készült például a Papucsom,és a Kamilla tortámon a babaágy.Felhasználom merevítésekhez is.</p>
    </div>
     <div class="row">
        
    <h3>      Zselatinmáz:</h3>
<p>
        500g porcukor
        
                           60ml víz
        
                           1 zacskó étkezési zselatin por
        
                           1 teáskanál folyékony glükóz(vagy glicerin)
        
                         Öntsük a vizet egy hőálló tálba,szórjuk bele a zselatint.Hagyjuk állni pár percig.A porcukrot szitáljuk egy másik tálba.Amikor megdagadt a zselatin,helyezzük gőz fölé és olvasszuk fel.Utána tegyük bele a glicerint vagy a glükózt,és ezt keverjük a porcukorhoz.Gyúrjuk össze,és ugyanúgy légmentesen zárjuk zacsiba.
        
        Mind két mázat színezhetjük de száradás után fakulnak a színek,vagyis világosabb lesz.Ezért gél állagú festékeket ajánlok.
        
        Ennek a masszának nincs mellékíze....sőt még ízesíthetjük is pár csepp aromával.</p>
    </div>
     <div class="row">
        
    <h3>  Plasztik csoki:</h3>
<p>
        500g csokoládé
        
                            180g folyékony glükóz
        
        Olvasszuk fel a csokit majd adjuk hozzá a 38c fokra felhevített glükózt és addig keverjük amíg össze nem áll.5-8 percig kézbevéve nyújtsuk-húzzuk,hogy a felesleges víz eltávozzon belőle.Ezek után egy órára tegyük hűtőbe,zacsiban.Formázáskor gyúrjuk át.
        
        Plasztik csoki mézzel(sokkal egyszerűbb)
        
        120 g csoki(jó minőségű)
        
        60g méz.
        
        A csokit egy külön tálban felolvasztjuk,mikróban alacsony fokozaton,nem szabad forralni.
        
        A mézet egy külön tálban ugyanúgy.
        
        A csokihoz hozzákeverjük a mézet és addig keverjük amíg a két elegy összeáll és egynemű massza lesz belőle.
        
        Műanyag tálban keverjük,mert fémbe beleragad.
        
        Amikor már hűlni kezd és kezünkkel meg tudjuk fogni akkor addig gyúrjuk amíg a felesleges víz kimegy belőle.Ezután nejlonzacsiba rakjuk és 24 órára hűtőbe.Majd hagyjuk kiolvadni szobahőmérsékletűre és már formázhatjuk is.</p>
    </div>
    <div class="row">
   
    <h3> Vajkrém díszítéshez:</h3>
    <p>  
        500g porcukor
        
                                       250g sózatlan vaj
        
                                      1 teáskanál vaníliakivonat
        
                                      1 evőkanál forró víz.
        
        A szobahőmérsékletű vajat keverjük habosra,majd adagoljuk hozzá az átszitált porcukrot,a vaníliát,és a vizet.Mixerrel a legnagyobb fordulatszámon kb 5 perc alatt hófehérré változik....majd színezhető is.</p>
    </div>
     <div class="row">
   
    <h3>   Massza tejporból:</h3>
<p>
        180g tejpor
        
                                   70g cukor
        
                                   60ml víz
        
                                  pár csepp olaj
        
        A vizből és cukorból szirupot főzünk.Hozzákeverjük a tejport,és pár csepp olaj hozzáadásával összegyúrjuk.
        
        Színezhető is és nagyon finom.</p>
    </div>
         
     <div class="row">
        
    <h3>  Massza tejporból(sokkal egyszerűbb)</h3>
    <p>
        Pontos arányt nem tudok adni mert tejportól függ minden.
        
        Egy kanál mézhez kezdjünk adagolni tejport.Nem kell megijedni.Először nagyon ragad,de ahogy tesszük hozzá a tejport össze fog állni.A lényeg,hogy ha borítani akarunk vele akkor nem kell sok tejpor bele.Amikor még puha ,akkor nyújtsuk,tejporon,nem porcukron.Ha figurákhoz  vagy virágokhoz akarjuk használni akkor addig kell hozzá gyúrni a tejport amíg érezzük,hogy kezd keményedni és nem ragad a kezünkhöz.
        
        Használható hozzá kókusztejpor is(bioboltból)Nagyon finom.
        
        Cukormáz:
        
        1 és fél pohár porcukor
        
                        4 evőkanál víz
        
                        aroma,szinezék
        
        A porcukrot átszitáljuk,melg vízben elkeverjük,majd 40 fokra felmelegítjük.Muffinokhoz kiváló máz. </p>
    </div>
    <div class="row">

    <h3>  Fehér csokimáz:</h3>
    <p>
        100g fehér csoki
        
                                 100g porcukor
        
                                 3 evőkanál víz
        
                                1 evőkanál vaj
        
        A csokit a vízzel gőz fölött felolvasszuk,majd beletesszük a vajat,a cukrot és egységes maszává keverjük.
    </p>
    </div>
         
     <div class="row">
        
    <h3>    Marcipánmassza otthon:</h3>
    <p>
        400g kristálycukor
                                                300g mandula
        
                                                2 evőkanál narancs vagy mandulaaroma
        
                                               700g porcukor
        
        1--Tegyünk félre egy evőkanál cukrot ,a többiből pár csepp víz hozzáadásával főzzünk sűrű szirupot.
        
        2--A mandulát a fennmaradt cukorral daráljuk nagyon finomra
        
        3--A szirupot ha már kihűlt és kezd fehéredni és sűrűsödni tegyük a mandulához és kezdjük gyúrni,majd adjuk hozzá az
        
            aromát is.
        
        4--Sima egyenletesen átgyúrt masszát kell kapnunk.
        
        5--Ahhoz,hogy a massza még simább és képlékenyebb legyen fokozatosan gyúrjunkmég hozzá 700g porcukrot.
        
        6--Addig gyúrjuk amíg szép sima és selymes masszát kapunk.
        
        7--Ezek után már színezhetjük és boríthatunk vele. </p>
        
    </div>
     <div class="row">
        
    <h3> Pillecukros massza.</h3>
    <p>
        500g pilecukor(fehér)
        
        2x annyi porcukor
        
        A pillecukrot kivajazott tálba rakjuk,és pici vizet permetezünk rá a kezünkkel.Betesszük a mikróba kb 30 másodpercre.Kissé folyós legyen az állaga.3/4 rész porcukorral lkeverjük,majd ha már elbírja a kezünk(óvatosan mert forró)kezdhetjükgyúrni vajazott kézzel porcukorral amíg szép selymes masszát nem kapunk.Fél órára hűtőbe rakjuk de mielőtt dolgozni kezdünk vele szobahőmérsékletűre kell kiengedni.Gyönyörű hófehér tortabevonó. </p>
    </div>
         
     <div class="row">
        
    <h3>  PASTA DE GOMA.-----MEXIKÓI GUMPAST</h3>
    <p>
        500g porcukor vagy cukorliszt
        
        1 kiskanál cmc
        
        1 evőkanál glükóz
        
        3 evőkanál forró víz.
        
        A 3 evőkanál forró vízben feloldjuk a glükózt.
        
        A porcukorban elkeverjük a cmc port,
        
        300g porcukros keverékbe beleöntjük a feloldott glükózt,majd összedolgozzuk.Hagyjuk pihenni letakarva 30 percet,majd utána beledolgozzuk a maradék cukrot is.Addig gyúrjuk amíg jó rugalmas masszánk nem lesz.Egy napot pihentetjük....nem feltétlenül hűtőben. </p>
    </div>
        
     <div class="row">
        
    <h3>  Viasz.(Orosz receptkönyvben találtam rá.Borítani is ,és virágokhoz is jó.Nagyon finom.)</h3>
    <p>  
        500 g-hoz.
        
        2 pohár porcukor
        
        2 pohár tejpor
        
        1 pohár sűrített tej
        
        késhegynyi vaníliás cukor
        
        (jól színezhető )
        
        A hozzávalókat simán összegyúrjuk és használatra kész. </p>
    
    </div>
    </div>



<!--Slider-->
<div class="slider">
	<ul>
	  <li ng-repeat="x in [].constructor(22) track by $index">
		<img ng-src="./img/Cukorviragdisz/disz{{$index+1}}.jpeg" alt="">
	  </li>
	  <li ng-repeat="x in [].constructor(36) track by $index">
		<img ng-src="./img/Eskuvocukor/cukor{{$index}}.jpeg" alt="">
	  </li>
	</ul>
</div>