<div class="header mt-5">
	<div class="container">
		<div class="row mt-5">
			<h1 class="text-center ">Receptek tortadíszítéshez</h1>
		</div>
	</div>
</div>

    <div class="container text-center szovegtav mt-5" style="color:wheat;">
		
     <div class="row mt-5">
       <h3 class="mt-5"> ALAN DUNN HÁZI VIRÁGMASSZÁJA</h3>
<p class="mt-5">
        2 KÁVÉSKANÁL ZSELATINT BEÁZTATUNK 5 KÁVÉSKANÁL VÍZBE.   <br>
        
        HAGYJUK MEGDAGADNI.  <br>
        
        500G FINOM PORCUKROT(FAMILY SWEET A LEGJOBB)ÁTSZITÁLUNK 3 KÁVÉSKANÁL TRAGANT PORRAL VAGY CMC-PORRAL.  <br>
        
        A ZSELATINOS TÁLAT GŐZ FÖLÉ HELYEZZÜK.2 KÁVÉSKANÁL FOLYÉKONY GLUKÓZT ÉS 2 -3 KÁVÉSKANÁL FEHÉR ZSIRADÉKOT (KÓKUSZZSÍR)TESZÜNK BELE ÉS EGYÜTT ADDIG MELEGÍTJÜK AMÍG SZÉPEN FEL NEM OLVAD.  <br>
        
        ÍGY MELEGEN A PORCUKOR KÖZEPÉBE ÖNTJÜK,MAJD MIXERREL VAGY AKINEK VAN ROBOTGÉPBE IS TEHETI,LASSÚ FOKOZATON KEZDJÜK VERNI,MIKÖZBEN EGY TOJÁS FEHÉRJÉT IS HOZZÁADUNK.SAJNOS KÉZI HABVERŐVEL NEM LEHET SOKÁIG VERNI,MERT LEÉGNE A MIXER.AMIKOR MÁR KEZD SZÉPEN ÖSSZEÁLLNI ÉS NYÚLÓSSÁ VÁLNI AKKOR KÉZZEL LEHET A MARADÉK PORCUKROT HOZZÁGYÚRNI,ADDIG AMÍG RUGALMAS SELYMES MASSZÁT NEM KAPUNK.LÉGMENTESEN LEZÁRVA 2 ÓRA MÚLVA HASZNÁLHATÓ.NAGYON JÓL SZÍNEZHETŐ.  <br>
        
        HŰTŐBEN AKÁR 3 HÓNAPIG IS ELÁLL.  <br>
    </p>
    </div>
         
     <div class="row mt-5">
        
    <h3 class="mt-5">  SK TRAGANT</h3>
        <p class="mt-5">
        1 kg porcukorra megadva. <br>
        
        15 gr porzselatint beáztatunk kb 6 evőkanál vízbe.ha megdagadt ,hozzáadunk 5 g borkősavat,és 30ml vizet,majd gőz fölött felmelegítjük és még melegen hozzákeverjük az átszitált porcukorhoz- <br>
        
        Jól összegyúrjuk,majd légmentesen zacskóba csomagoljuk és állni hagyjuk pár órát.Gyorsan szárad ezért egyszerre csak kis adagot vegyünk ki a zacsiból,gyúrjuk jól át,majd keményítőn dolgozzunk vele.papírvékonyra nyújtható,és porcelánkeménységűre szárad.</p>
    </div>
     <div class="row mt-5">
        
    <h3 class="mt-5">    Mintázómáz:</h3>
<p class="mt-5">
        500g porcukor <br>
        
                           2 evőkanál tragantgumi(Sőregi-nél kapható) <br>
        
                           2 teáskanál folyékony glükóz(megfelel helyette a glicerin is) <br>
        
                          60ml hideg víz. <br>
        
                         Szitáljuk a porcukrot egy tálba a traganttal együtt.Közepébe mélyedést készítsünk,öntsük bele a vizet és a glükózt vagy a glicerint,keverjük össze és gyúejuk tésztává.Csomagoljuk be légmentesen egy zacsiba és pár órára <br>
        
                         tegyük félre.Ha nagyon muszály,azonnal i s fel tudjuk használni. <br>
        
        Megemlíteném,hogy a tragantnak van egy kis mellékíze,de nagyon szép díszeket lehet belőle kreálni.Ebből a masszából készült például a Papucsom,és a Kamilla tortámon a babaágy.Felhasználom merevítésekhez is.</p>
    </div>
     <div class="row mt-5">
        
    <h3 class="mt-5">      Zselatinmáz:</h3>
<p class="mt-5">
        500g porcukor <br>
        
                           60ml víz <br>
        
                           1 zacskó étkezési zselatin por <br>
        
                           1 teáskanál folyékony glükóz(vagy glicerin) <br>
        
                         Öntsük a vizet egy hőálló tálba,szórjuk bele a zselatint.Hagyjuk állni pár percig.A porcukrot szitáljuk egy másik tálba.Amikor megdagadt a zselatin,helyezzük gőz fölé és olvasszuk fel.Utána tegyük bele a glicerint vagy a glükózt,és ezt keverjük a porcukorhoz.Gyúrjuk össze,és ugyanúgy légmentesen zárjuk zacsiba. <br>
        
        Mind két mázat színezhetjük de száradás után fakulnak a színek,vagyis világosabb lesz.Ezért gél állagú festékeket ajánlok. <br>
        
        Ennek a masszának nincs mellékíze....sőt még ízesíthetjük is pár csepp aromával.</p>
    </div>
     <div class="row mt-5">
        
    <h3 class="mt-5">  Plasztik csoki:</h3>
<p class="mt-5">
        500g csokoládé <br>
        
                            180g folyékony glükóz <br>
        
        Olvasszuk fel a csokit majd adjuk hozzá a 38c fokra felhevített glükózt és addig keverjük amíg össze nem áll.5-8 percig kézbevéve nyújtsuk-húzzuk,hogy a felesleges víz eltávozzon belőle.Ezek után egy órára tegyük hűtőbe,zacsiban.Formázáskor gyúrjuk át. <br>
        
        Plasztik csoki mézzel(sokkal egyszerűbb) <br>
        
        120 g csoki(jó minőségű) <br>
        
        60g méz. <br>
        
        A csokit egy külön tálban felolvasztjuk,mikróban alacsony fokozaton,nem szabad forralni. <br>
        
        A mézet egy külön tálban ugyanúgy. <br>
        
        A csokihoz hozzákeverjük a mézet és addig keverjük amíg a két elegy összeáll és egynemű massza lesz belőle. <br>
        
        Műanyag tálban keverjük,mert fémbe beleragad. <br>
        
        Amikor már hűlni kezd és kezünkkel meg tudjuk fogni akkor addig gyúrjuk amíg a felesleges víz kimegy belőle.Ezután nejlonzacsiba rakjuk és 24 órára hűtőbe.Majd hagyjuk kiolvadni szobahőmérsékletűre és már formázhatjuk is.</p>
    </div>
    <div class="row mt-5">
   
    <h3 class="mt-5"> Vajkrém díszítéshez:</h3>
    <p class="mt-5">  
        500g porcukor <br>
        
                                       250g sózatlan vaj <br>
        
                                      1 teáskanál vaníliakivonat <br>
        
                                      1 evőkanál forró víz. <br>
        
        A szobahőmérsékletű vajat keverjük habosra,majd adagoljuk hozzá az átszitált porcukrot,a vaníliát,és a vizet.Mixerrel a legnagyobb fordulatszámon kb 5 perc alatt hófehérré változik....majd színezhető is.</p>
    </div>
     <div class="row mt-5">
   
    <h3 class="mt-5">   Massza tejporból:</h3>
<p class="mt-5">
        180g tejpor <br>
        
                                   70g cukor <br>
        
                                   60ml víz <br>
        
                                  pár csepp olaj <br>
        
        A vizből és cukorból szirupot főzünk.Hozzákeverjük a tejport,és pár csepp olaj hozzáadásával összegyúrjuk. <br>
        
        Színezhető is és nagyon finom.</p>
    </div>
         
     <div class="row mt-5">
        
    <h3 class="mt-5">  Massza tejporból(sokkal egyszerűbb)</h3>
    <p class="mt-5">
        Pontos arányt nem tudok adni mert tejportól függ minden. <br>
        
        Egy kanál mézhez kezdjünk adagolni tejport.Nem kell megijedni.Először nagyon ragad,de ahogy tesszük hozzá a tejport össze fog állni.A lényeg,hogy ha borítani akarunk vele akkor nem kell sok tejpor bele.Amikor még puha ,akkor nyújtsuk,tejporon,nem porcukron.Ha figurákhoz  vagy virágokhoz akarjuk használni akkor addig kell hozzá gyúrni a tejport amíg érezzük,hogy kezd keményedni és nem ragad a kezünkhöz. <br>
        
        Használható hozzá kókusztejpor is(bioboltból)Nagyon finom. <br>
        
        Cukormáz: <br>
        
        1 és fél pohár porcukor <br>
        
                        4 evőkanál víz <br>
        
                        aroma,szinezék <br>
        
        A porcukrot átszitáljuk,melg vízben elkeverjük,majd 40 fokra felmelegítjük.Muffinokhoz kiváló máz. </p>
    </div>
    <div class="row mt-5">

    <h3 class="mt-5">  Fehér csokimáz:</h3>
    <p class="mt-5">
        100g fehér csoki <br>
        
                                 100g porcukor <br>
        
                                 3 evőkanál víz <br>
        
                                1 evőkanál vaj <br>
        
        A csokit a vízzel gőz fölött felolvasszuk,majd beletesszük a vajat,a cukrot és egységes maszává keverjük.
    </p>
    </div>
         
     <div class="row mt-5">
        
    <h3 class="mt-5">    Marcipánmassza otthon:</h3>
    <p class="mt-5">
        400g kristálycukor <br>
                                                300g mandula <br>
        
                                                2 evőkanál narancs vagy mandulaaroma <br>
        
                                               700g porcukor <br>
        
        1--Tegyünk félre egy evőkanál cukrot ,a többiből pár csepp víz hozzáadásával főzzünk sűrű szirupot. <br>
        
        2--A mandulát a fennmaradt cukorral daráljuk nagyon finomra <br>
        
        3--A szirupot ha már kihűlt és kezd fehéredni és sűrűsödni tegyük a mandulához és kezdjük gyúrni,majd adjuk hozzá az
        
            aromát is. <br>
        
        4--Sima egyenletesen átgyúrt masszát kell kapnunk. <br>
        
        5--Ahhoz,hogy a massza még simább és képlékenyebb legyen fokozatosan gyúrjunkmég hozzá 700g porcukrot. <br>
        
        6--Addig gyúrjuk amíg szép sima és selymes masszát kapunk. <br>
        
        7--Ezek után már színezhetjük és boríthatunk vele. </p>
        
    </div>
     <div class="row mt-5">
        
    <h3 class="mt-5"> Pillecukros massza.</h3>
    <p class="mt-5">
        500g pilecukor(fehér) <br>
        
        2x annyi porcukor <br>
        
        A pillecukrot kivajazott tálba rakjuk,és pici vizet permetezünk rá a kezünkkel.Betesszük a mikróba kb 30 másodpercre.Kissé folyós legyen az állaga.3/4 rész porcukorral lkeverjük,majd ha már elbírja a kezünk(óvatosan mert forró)kezdhetjükgyúrni vajazott kézzel porcukorral amíg szép selymes masszát nem kapunk.Fél órára hűtőbe rakjuk de mielőtt dolgozni kezdünk vele szobahőmérsékletűre kell kiengedni.Gyönyörű hófehér tortabevonó. </p>
    </div>
         
     <div class="row mt-5">
        
    <h3 class="mt-5">  PASTA DE GOMA.-----MEXIKÓI GUMPAST</h3>
    <p class="mt-5">
        500g porcukor vagy cukorliszt <br>
        
        1 kiskanál cmc <br>
        
        1 evőkanál glükóz <br>
        
        3 evőkanál forró víz. <br>
        
        A 3 evőkanál forró vízben feloldjuk a glükózt. <br>
        
        A porcukorban elkeverjük a cmc port, <br>
        
        300g porcukros keverékbe beleöntjük a feloldott glükózt,majd összedolgozzuk.Hagyjuk pihenni letakarva 30 percet,majd utána beledolgozzuk a maradék cukrot is.Addig gyúrjuk amíg jó rugalmas masszánk nem lesz.Egy napot pihentetjük....nem feltétlenül hűtőben. </p>
    </div>
        
     <div class="row mt-5">
        
    <h3 class="mt-5">  Viasz.(Orosz receptkönyvben találtam rá.Borítani is ,és virágokhoz is jó.Nagyon finom.)</h3>
    <p class="mt-5">  
        500 g-hoz. <br>
        
        2 pohár porcukor <br>
        
        2 pohár tejpor <br>
        
        1 pohár sűrített tej <br>
        
        késhegynyi vaníliás cukor <br>
        
        (jól színezhető ) <br>
        
        A hozzávalókat simán összegyúrjuk és használatra kész. </p>
    
    </div>
    </div>



<!--Slider-->
<div class="slider">
	<ul>
	  <li ng-repeat="x in [].constructor(22) track by $index">
		<img ng-src="./img/Cukorviragdisz/disz{{$index+1}}.jpeg" alt="">
	  </li>
	  <li ng-repeat="x in [].constructor(36) track by $index">
		<img ng-src="./img/Eskuvocukor/cukor{{$index}}.jpeg" alt="">
	  </li>
	</ul>
</div>